// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree fragment for Unipi Gate PRO IQRF board, v0.3
 *
 * Copyright 2021 Faster CZ, spol. s r.o.
 *
 * IQRF card is in slot A.
 */

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&i2c3>;
		__overlay__ {
       		#address-cells = <1>;
	    	#size-cells = <0>;

	        gpio_slotb: pca9501@10 {
        		compatible = "nxp,pcf8574";
		        gpio-controller;
        		#gpio-cells = <2>;
		        reg = <0x10>;
        	    gpio-line-names = "SLOTB_IQRF_POWER",
		        	  "SLOTB_IQRF_PGM",
        			  "SLOTB_IQRF_BUS",
		        	  "","","","","";
	        };

            ee_slotb@50 {
                compatible = "24c02";
                reg = <0x50>;
                vcc-supply = <&vcc>;
            };
		};
	};

	fragment@1 {
		target = <&ecspi2>;
		__overlay__ {
	        status = "okay";
       		#address-cells = <1>;
	    	#size-cells = <0>;

			spidev_slotb: spi@1 {
                compatible = "nanopi,spidev";
                reg = <1>;
                status = "okay";
                spi-max-frequency = <12000000>;
            };
		};
	};

	fragment@2 {
		target = <&uart2>;
		__overlay__ {
        	status = "okay";
		};
	};
};

