// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree fragment for Unipi Gate PRO IQRF board, v0.3
 *
 * Copyright 2021 Faster CZ, spol. s r.o.
 *
 * IQRF card is in slot 1.
 */

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&i2c3>;
		__overlay__ {
    		#address-cells = <1>;
	    	#size-cells = <0>;
	        gpio_slot1: pca9501@17 {
        		compatible = "nxp,pcf8574";
		        gpio-controller;
        		#gpio-cells = <2>;
		        reg = <0x17>;
        	    gpio-line-names = "SLOT1_IQRF_POWER",
		        	  "SLOT1_IQRF_PGM",
        			  "SLOT1_IQRF_BUS",
		        	  "","","","","";
	        };

            /*ee_slot1@57 {
                compatible = "24c02";
                reg = <0x57>;
                vcc-supply = <&vcc>;
            };*/
		};
	};

	fragment@1 {
		target = <&ecspi3>;
		__overlay__ {
	        status = "okay";
       		#address-cells = <1>;
	    	#size-cells = <0>;

			spidev_slot1: spi@0 {
                compatible = "nanopi,spidev";
                reg = <0>;
                status = "okay";
                spi-max-frequency = <12000000>;
            };
		};
	};

	fragment@2 {
		target = <&uart1>;
		__overlay__ {
        	pinctrl-names = "default";
        	pinctrl-0 = <&pinctrl_uart1_nc>;
        	status = "okay";
		};
	};
};

