// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree fragment for Unipi Gate PRO IQRF board, v0.3
 *
 * Copyright 2021 Faster CZ, spol. s r.o.
 *
 * IQRF card is in slot A.
 */

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&i2c3>;
		__overlay__ {
       		#address-cells = <1>;
	    	#size-cells = <0>;

	        gpio_slota: pca9501@28 {
        		compatible = "nxp,pcf8574";
		        gpio-controller;
        		#gpio-cells = <2>;
		        reg = <0x28>;
        	    gpio-line-names = "SLOT4_IQRF_POWER",
		        	  "SLOT4_IQRF_PGM",
        			  "SLOT4_IQRF_BUS",
		        	  "","","","","";
	        };

            ee_slota@68 {
                compatible = "24c02";
                reg = <0x68>;
                vcc-supply = <&vcc>;
            };
		};
	};

	fragment@1 {
		target = <&ecspi4>;
		__overlay__ {
	        status = "okay";
       		#address-cells = <1>;
	    	#size-cells = <0>;

			spidev_slot4: spi@3 {
                compatible = "nanopi,spidev";
                reg = <3>;
                status = "okay";
                spi-max-frequency = <12000000>;
            };
		};
	};

	fragment@2 {
		target = <&uart4>;
		__overlay__ {
        	status = "okay";
		};
	};
};

