// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 Faster CZ
 * Copyright 2019 NXP
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "unipi-zulu.dtsi"

/ {
	model = "AC Heating board (Unipi Zulu, i.MX8MM)";

    unipi_id: unipi-id {
        compatible = "unipi,unipi-id";
        nvmem = <&unipi_mb>;
        nvmem-names = "plcid0";
        id-channel = <&i2c3>;
    };

	mbleds {
		compatible = "gpio-leds";

		user-led@1 {
			label = "unipi-sysled-xhb";
			gpios = <&gpio_aux 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "30be0000.ethernet-1:01:link";
		};
		user-led@2 {
			label = "unipi-sysled-xhr";
			gpios = <&gpio_aux 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		user-led@3 {
			label = "unipi-sysled-xhg";
			gpios = <&gpio_aux 8 GPIO_ACTIVE_LOW>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	buttons {
		compatible = "gpio-keys-polled";
		poll-interval = <50>;
		btn1 {
			label = "btn1";
			gpios = <&gpio_aux 9 GPIO_ACTIVE_LOW>;
			linux,code = <2>;
			//debounce-interval = <50>;
		};
		btn2 {
			label = "btn2";
			gpios = <&gpio_aux 10 GPIO_ACTIVE_LOW>;
			linux,code = <1>;
		};
		btn3 {
			label = "btn3";
			gpios = <&gpio_aux 11 GPIO_ACTIVE_LOW>;
			linux,code = <105>;
		};
		btn4 {
			label = "btn4";
			gpios = <&gpio_aux 12 GPIO_ACTIVE_LOW>;
			linux,code = <103>;
		};
		btn5 {
			label = "btn5";
			gpios = <&gpio_aux 13 GPIO_ACTIVE_LOW>;
			linux,code = <104>;
		};
		btn6 {
			label = "btn6";
			gpios = <&gpio_aux 14 GPIO_ACTIVE_LOW>;
			linux,code = <106>;
		};
		btn7 {
			label = "btn7";
			gpios = <&gpio_aux 15 GPIO_ACTIVE_LOW>;
			linux,code = <28>;
		};
	};

	auxdisplay: auxdisplay {
		compatible = "hit,hd44780";

		data-gpios = <&gpio_aux 2 GPIO_ACTIVE_HIGH>,
		             <&gpio_aux 3 GPIO_ACTIVE_HIGH>,
		             <&gpio_aux 4 GPIO_ACTIVE_HIGH>,
		             <&gpio_aux 5 GPIO_ACTIVE_HIGH>;
		rs-gpios = <&gpio_aux 0 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio_aux 1 GPIO_ACTIVE_HIGH>;
		//backlight-gpios = <&gpio_aux 3 GPIO_ACTIVE_LOW>;
		display-height-chars = <4>;
		display-width-chars = <20>;
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>, <&pinctrl_uart1_ctrl>;
	status = "okay";
	rts-gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>;
	// size and count of dma buffer for rx - default is <1024 16>
	fsl,dma-info = <32 1>;
	linux,rs485-enabled-at-boot-time;
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>, <&pinctrl_uart2_ctrl>;
	status = "okay";
	rts-gpios = <&gpio4 29 GPIO_ACTIVE_HIGH>;
	// size and count of dma buffer for rx - default is <1024 16>
	fsl,dma-info = <32 1>;
	//linux,rs485-enabled-at-boot-time;
};

&uart3 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>, <&pinctrl_uart3_ctrl>;
	status = "okay";
	// size and count of dma buffer for rx - default is <1024 16>
	fsl,dma-info = <32 1>;
	rts-gpios = <&gpio4 27 GPIO_ACTIVE_HIGH>;
	linux,rs485-enabled-at-boot-time;
};

&i2c3 {
	status = "okay";

    rtc@6f {
            compatible = "microchip,mcp7941x";
            reg = <0x6f>;
    };

    unipi_mb:24c01@57 {
        compatible = "atmel,24c01";
        reg = <0x57>;
        status = "okay";
    };

	gpio_aux: pca9555pw@20 {
		compatible = "nxp,pca9555";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
	};
};

&ecspi2 {
	fsl,spi-num-chipselects = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>, <&pinctrl_ecspi2_cs>;
	cs-gpios = <&gpio5 13 1>;
	status = "disabled";

    mram0: m25p80@0 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "me48lm01";
        reg = <0>;
        spi-max-frequency = <40000000>;
        size = <131072>;
        pagesize = <128>;
        address-width = <24>;
        status = "disabled";
     };
};

&ecspi3 {
	fsl,spi-num-chipselects = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>, <&pinctrl_ecspi3_cs>;
	cs-gpios = <&gpio4 30 1>;
	status = "okay";

    unipispi0: unipispi@0 {
        compatible = "unipispi";
        reg = <0>;
        status = "okay";
        spi-max-frequency = <12000000>;
        modbus-address = <1>;
		#address-cells = <1>;
		#size-cells = <0>;

		iogroup1 {
			reg = <1>;
			compatible = "unipi,unipi-mfd", "iogroup";
			interrupt-parent = <&gpio4>;
			interrupts = <23 IRQ_TYPE_EDGE_RISING>;   // gpio4.23
			core {
				fw_variant = <0x2A00>;
				fw_name = "OEM-ACHEAT-1";
				board_name = "OEM-ACHEAT-1";
				cycle_counter = <1016>;
				master_watchdog_enable = <2>;
			};
			gpio_di1:di {
				compatible = "unipi,gpio-di";
				gpio-controller;
				#gpio-cells = <2>;
				gpio-line-names = "DI1_1", "DI1_2", "DI1_3", "DI1_AC";
				ngpio = <4>;
				value-reg = <0>;
				debounce-reg = <1010>;
				counter-reg = <3>;
			};
			do {
				compatible = "unipi,gpio-do";
				ngpio = <1>;
				value-coil = <16>;
			};
			ro {
				compatible = "unipi,gpio-ro";
				ngpio = <16>;
				value-coil = <0>;
			};
			ai {
				compatible = "unipi,ai18";
				io-count = <17>;
				io-value-reg = <3>;
			};
			ao {
				compatible = "unipi,ao";
				io-count = <2>;
				io-value-reg = <37>;
			};
		};
    };
};


&iomuxc {

	pinctrl_ecspi2_cs: ecspi2cs {
		fsl,pins = <
			MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13          0x04
		>;
	};

	pinctrl_ecspi3_cs: ecspi3cs {
		fsl,pins = <
			MX8MM_IOMUXC_SAI2_RXD0_GPIO4_IO23			0x19
			MX8MM_IOMUXC_SAI3_RXD_GPIO4_IO30			0x19
		>;
	};
};
