// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 Unipi Technology
 * Copyright 2021 Faster CZ
 * Copyright 2019 NXP
 */

/dts-v1/;

#include "unipi-zulu.dtsi"

/ {
	model = "Unipi Iris board (Unipi Zulu, i.MX8MM)";

	unipi_id: unipi-id {
		compatible = "unipi,unipi-id";
		nvmem = <&unipi_mb>;
		nvmem-names = "plcid0";
		id-channel = <&i2c3>;
	};
	mbleds {
		compatible = "gpio-leds";

		user-led@1 {
			label = "unipi-sysled-xhr";
			gpios = <&gpio_mb 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		user-led@2 {
			label = "unipi-sysled-xhb";
			gpios = <&gpio_mb 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		user-led@3 {
			label = "unipi-sysled-xhg";
			gpios = <&gpio_mb 4 GPIO_ACTIVE_LOW>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
		user-led@4 {
			label = "unipi-sysled-rx";
			gpios = <&gpio_mb 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "ttymxc2-rx";
		};
		user-led@5 {
			label = "unipi-sysled-tx";
			gpios = <&gpio_mb 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "ttymxc2-tx";
		};
	};

	muxspi3: mux-controller {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ecspi3_cs>;
		mux-gpios = <&gpio4 30 GPIO_ACTIVE_LOW>, <&gpio4 25 GPIO_ACTIVE_LOW>, <&gpio4 26 GPIO_ACTIVE_LOW>;
		idle-state = <0>;
		status = "okay";
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		status = "okay";
	};
};

&uart3 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>, <&pinctrl_uart3_ctrl>;
	linux,rs485-enabled-at-boot-time;
	rts-gpios = <&gpio4 27 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&usdhc2 {
	// on pinheader
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	cd-gpios = <&gpio_mb 0 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	voltage-ranges = <1800 1800 3300 3300>;
	sdhci,auto-cmd12;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};


&i2c3 {
	status = "okay";

	rtc@6f {
		compatible = "microchip,mcp7941x";
		reg = <0x6f>;
	};

	unipi_mb:24c01@57 {
		compatible = "atmel,24c01";
		reg = <0x57>;
		status = "okay";
	};

	gpio_mb: pcf8574@20 {
		compatible = "nxp,pcf8574";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;
		enable_uart3_rx {
			gpio-hog;
			gpios = <0x5 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "enable-uart3-rx";
		};
	};
};

&iomuxc {
	pinctrl-names = "default";

/*	pinctrl_usdhc2_gpio: usdhc2grpgpio {
		fsl,pins = <
			MX8MM_IOMUXC_SAI2_RXD0_GPIO4_IO23			0x1c4
		>;
	};
*/
	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK			0x190
			MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d0
			MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d0
			MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d0
			MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d0
			MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d0
			MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
		fsl,pins = <
			MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK			0x194
			MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d4
			MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d4
			MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d4
			MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d4
			MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d4
			MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
		fsl,pins = <
			MX8MM_IOMUXC_SD2_CLK_USDHC2_CLK			0x196
			MX8MM_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d6
			MX8MM_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d6
			MX8MM_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d6
			MX8MM_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d6
			MX8MM_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d6
			MX8MM_IOMUXC_GPIO1_IO04_USDHC2_VSELECT	0x1d0
		>;
	};

	pinctrl_ecspi2_cs: ecspi2cs {
		fsl,pins = <
			MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13          0x16
			MX8MM_IOMUXC_UART2_TXD_GPIO5_IO25			0x16
		>;
	};

	pinctrl_ecspi3_cs: ecspi3cs {
		fsl,pins = <
			MX8MM_IOMUXC_SAI3_RXD_GPIO4_IO30		0x16
			MX8MM_IOMUXC_SAI2_TXC_GPIO4_IO25		0x16
			MX8MM_IOMUXC_SAI2_TXD0_GPIO4_IO26		0x16
		>;
	};

	pinctrl_ecspi_int: ecspiint {
		fsl,pins = <MX8MM_IOMUXC_I2C4_SCL_GPIO5_IO20	0x19>;
	};

	pinctrl_uart4_ctrl: uart4ctrlgrp {
		fsl,pins = <MX8MM_IOMUXC_SAI5_RXC_GPIO3_IO20	0x040>;
	};

	pinctrl_slotirq0: slotirq0 {
		fsl,pins = <MX8MM_IOMUXC_I2C4_SCL_GPIO5_IO20	0x19>;
	};
	pinctrl_slotirq1: slotirq1 {
		fsl,pins = <MX8MM_IOMUXC_I2C4_SDA_GPIO5_IO21	0x19>;
	};
	pinctrl_slotirq2: slotirq2 {
		fsl,pins = <MX8MM_IOMUXC_SAI2_RXD0_GPIO4_IO23	0x19>;
	};
	pinctrl_slotirq3: slotirq3 {
		fsl,pins = <MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28	0x19>;
	};
};

&ecspi2 {
	fsl,spi-num-chipselects = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2  &pinctrl_ecspi2_cs>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>, <&gpio5 25 GPIO_ACTIVE_LOW>;
	/*
	  pinctrl-0 = <&pinctrl_ecspi2>;
	  mux-controls = <&muxspi2>;
	*/
	status = "okay";
};


&ecspi3 {
	fsl,spi-num-chipselects = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	mux-controls = <&muxspi3>;
	status = "okay";
};

&snvs_rtc {
	status = "disabled";
};
