// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree fragment for Unipi Gate PRO IQRF board, v0.3
 *
 * Copyright 2021 Faster CZ, spol. s r.o.
 *
 * IQRF card is in slot A.
 */

/dts-v1/;

#include <dt-bindings/clock/imx8mm-clock.h>
#include <dt-bindings/reset/imx8mq-reset.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/reset/imx8mm-dispmix.h>
#include <dt-bindings/thermal/thermal.h>

#include "imx8mm-pinfunc.h"

/plugin/;

/ {
	fragment@0 {
		target = <&i2c3>;
		__overlay__ {
       		#address-cells = <1>;
	    	#size-cells = <0>;

	        gpio_slota: pca9501@9 {
        		compatible = "nxp,pcf8574";
		        gpio-controller;
        		#gpio-cells = <2>;
		        reg = <0x09>;
        	    gpio-line-names = "SLOTA_XX",
		        	  "","",
		        	  "","","","","";
	        };

            ee_slota@49 {
                compatible = "24c02";
                reg = <0x49>;
                vcc-supply = <&vcc>;
            };
		};
	};

	fragment@1 {
		target = <&ecspi2>;
		__overlay__ {
	        status = "okay";
       		#address-cells = <1>;
	    	#size-cells = <0>;

            unipispi0: unipispi@0 {
                compatible = "unipispi";
                reg = <0>;
                status = "okay";
                spi-max-frequency = <12000000>;
                /*
        		pinctrl-names = "default";
		        pinctrl-0 = <&pinctrl_ecspi_int>;
                interrupt-parent = <&gpio5>;
                interrupts = <20 IRQ_TYPE_EDGE_RISING>;   // gpio5.20
                */
                neuron-board-index = <0>;
            };
		};
	};
};

