#!/usr/bin/make -f

#export DH_VERBOSE = 1

# Example:
# the upstream build passes LDFLAGS directly to ld instead of calling gcc for
# linking; so instead of passing -Wl,foo in LDFLAGS as in automake builds, one
# should set LDFLAGS to foo directly
#comma := ,
#LDFLAGS := $(patsubst -Wl$(comma)%,%,$(LDFLAGS))

## this is required to remove -Wl from LDFLAGS - doesn't work for linker called independently
export DEB_LDFLAGS_SET = -zrelro

KERNELRELEASE = $(shell make V=0 -s kernelrelease)

override_dh_auto_clean:
	@$(MAKE) distclean
	@$(MAKE) scmversion


override_dh_auto_configure:
	@$(MAKE) unipi-zulu_defconfig


#override_dh_auto_build:
#	dh_auto_build

#override_dh_auto_install:
#	echo install disabled

override_dh_auto_install:
	@install -d debian/build/boot
	@install -d debian/build/dtb
	@install -d debian/###HEADERS_PACKAGE_NAME###
	@$(MAKE) install INSTALL_PATH=../debian/build/boot INSTALLKERNEL=__NONE__
	@$(MAKE) KBUILD_SRC= INSTALL_DTBS_PATH="../debian/build/dtb" dtbs_install
	@$(MAKE) KBUILD_SRC= INSTALL_MOD_PATH=../debian/build modules_install
	@find debian/build/lib/modules -type l -name build  -exec rm -f \{\} \;
	cd linux-imx && \
		mkdir -p debian && \
		../debian/scripts/install-kernel-headers $(KERNELRELEASE) ../debian/###HEADERS_PACKAGE_NAME###
	cp linux-imx/arch/arm64/boot/dts/freescale/imx8mm-pinfunc.h \
		debian/###HEADERS_PACKAGE_NAME###/usr/src/linux-headers-$(KERNELRELEASE)/arch/arm64/boot/dts/freescale
	@dh_install

#### Modify pre/post instalation script templates 
## current version of dh_installdeb doesn't do variable substitution
IN_FILES  = debian/unipi-kernel.postinst
IN_FILES += debian/unipi-kernel.preinst
IN_FILES += debian/unipi-kernel.postrm
IN_FILES += debian/unipi-kernel.prerm

debian/%: debian/%.in
	@sed 's/#KERNELRELEASE#/$(KERNELRELEASE)/g' < $+ > $@
	# create symlink debian/zulu-kernel-image* => debian/unipi-kernel*
	@ln -s $(@:debian/%=%) $(@:debian/unipi-kernel%=debian/zulu-kernel-image%)

override_dh_installdeb: $(IN_FILES)
	@dh_installdeb

##################################

override_dh_gencontrol:
	@dh_gencontrol -- -VKERNELRELEASE=$(KERNELRELEASE)

%:
	dh $@

override_dh_dwz:
	:
